html{
    box-sizing: border-box;
}


*,
*::before,
*::after{
    box-sizing: inherit;
}
ul {
	list-style-type: none;
}

.btn {
	border: none;
	padding: 14px 0;
	border-radius: 4px;
	width: 100%;
	color: #fff;
	background-color: rgb(206, 206, 206);
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.btn:hover {
	background-color: rgb(206, 206, 206);
	transition: background-color 0.3s ease-in-out;
}

.btn:disabled {
	opacity: 0.4;
	pointer-events: none;
}